body {
	background-color: #34586c;
	background-image: url(images/top-bg.png);
	background-repeat: repeat-x;
	font-family: 'Ultra', serif;
}

.container {
	width:100%; /* bootstrap override */
}

h1 {
	font-family: 'Ultra', serif;
	color: #D3A78F;
	text-align: center;
	margin: 0 60px;
	padding-top:30px;
	text-shadow: #000 1px 1px;
	
	font-size:42px;
	line-height: 120%;
	font-weight: normal;
}

.section-main {
}

.section-main .top-banner {
	margin: 0 auto;
	width: 680px;
	height: 277px;
	
	background-image: url(images/top-banner.png);
	background-repeat: no-repeat;
	background-position: center;

	
}

.section-thinking {

}

.section-thinking img { margin:0 auto; display:block; }

.section-decision {
}

.section-decision .top-decision {
	padding-top:40px;
	margin: 0 auto;
	width: 791px;
	height: 94px;
	background-image: url(images/label-spoken.png);
	background-repeat: no-repeat;
	background-position: center;
}

.section-decision .the-king {
	margin: 0 auto;
	text-align: center;
}

.section-decision .the-king img {
	width:300px;
	height:300px;
}

.section-decision h4 {
	text-align: center;
	color: white;
	font-size: 24px;
	font-family: 'Ultra', serif;
	padding-top:12px;
}

.input-form {
	text-align: center;
	margin-top: 12px;
}

.input-shading {
	background: rgba(0,0,0,0.1);
	padding: 50px 0;
	height: 70px;
}

.ask-button {
	background: url(images/btn-ask.png);
	width:334px !important;
	height:94px !important;
	margin-top:36px;
}

.ask-button:hover {
	background-position: 0;
	-webkit-transition: none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none;
}

.white-text {
	color:white; 
	font-family: 'Ultra', serif;
	font-size:20px;
	padding:0 16px;
}

.answer { text-decoration: underline; }

.arrow-up {
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 10px solid #274454;
	margin: 20px auto -20px auto;
}
.speech-bubble {
	background: rgba(0,0,0,0.2);
	text-align: center;
	margin: 0 auto;
	width: 600px;
	padding: 50px 20px;
	border-radius: 10px;
	margin-top: 20px;
	font-size: 42px;
	color:white;
	line-height:100%; 
}

.social-share {
position: absolute;
right: 0;
top: 320px;
color: #CCC;
font-size: 18px;
}



.why-section {
	position:absolute;
	bottom:0;

}

.why-div {
	height:91px;
	display:block;
	margin-left:200px;
	width:900px;
	position: relative;
	bottom:-2px;
}

.why-button {
	background: url(images/btn-why.png);
}
.ask-again {
	background: url(images/btn-again.png);

}
.why-info {
	background:white;
	display:block;
	height:220px;
	font-size:24px;
	text-align: center;
	padding-top:20px;
}

.why-info .sentiment-level-text {
	line-height: 120%;
	color:#0084A2;
	margin-top:60px;
	
}

.why-info .text-vs {
	color:#7d7d7d;
}

.why-info .bottom-text {
	color:#5D5D5D;
	margin-top:28px;
}

.why-info .sentiment-choice {
	color:#FF9800;
	line-height: 120%;
}

.why-info .kings-choice {
	display:block;
	width:220px;
	height:42px;
	margin-bottom:16px;
}
.why-info .kings-choice.unselected {
	background: url(images/line-selected.png);
}
.why-info .kings-choice.selected {
	background: url(images/line-unselected.png);
}
.why-info .sentiment-button {
	width:172px;
	height:42px;
	background-color: #d7d7d7;
  color: #4a4a4a;
  padding: 10px 20px;
  border-radius: 6px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
.sentiment-button.superbad {
	background-color: #a70000;
  color: #000;
}
.sentiment-button.bad {
	background-color: #df640a;
  color: #fff;
}
.sentiment-button.not-good {
	background-color: #bb8400;
  color: #fff;
}
.sentiment-button.neutral {
	background-color: #eaff00;
  color: #3c9a0d;
}
.sentiment-button.notbad {
	background-color: #80d200;
  color: #285a00;
}
.sentiment-button.good {
	background-color: #049600;
  color: #fff;
}
.sentiment-button.supergood {
	background-color: #00a5e2;
  color: #fff;
}

form input {
	background:transparent;
	
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	border:none;
	border-bottom: 1px dotted white;
	
	font-family: 'Ultra', serif;
	font-size:22px;
	line-height: 100%;
	height:30px;
	color:white;
}

/* placeholder styles */
form input::-webkit-input-placeholder { color: #385D71; text-align: center;}
form input::-moz-placeholder { color: #385D71; text-align:center;}