<!DOCTYPE html>
<html>
  <head>
    <title>The King Has Spoken</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/css?family=Ultra" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%= yield %>
    <script>
      KS.init();
      Twilio.init();
    </script>
  </body>
</html>
